@import helper._
@import play.mvc.Http.Request
@(implicit request: Request, name: String, books: List[Book], role: String)

@main("Welcome to Play") {

    <div class="container mt-3">
        <h2>[Role: @role] Welcome @name </h2>
        <h2>List of Books</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            @for(book <- books){
                <tr>
                    <td>@book.title</td>
                    <td><b>@book.author</b></td>
                    <td><p>@book.price</p></td>
                </tr>
            }
            </tbody>
        </table>
        <form action="@routes.SessionController.deleteUserAndSession()" method="post">
            @CSRF.formField
            <input type="submit" class="btn btn-danger" VALUE="Delete">
        </form>
        <form action="@routes.SessionController.logoutWithSession()" method="post">
            @CSRF.formField
            <input type="submit" class="btn btn-primary" VALUE="Logout">
        </form>
    </div>
}
